<p>edit-user works!</p>

<div class="user-info" [hidden]="!user">


  <p>ID: {{user!.userId}}</p>
  <p>Email:</p> <input [(ngModel)]="user!.email">
  <p>First name:</p> <input [(ngModel)]="user!.firstname">
  <p>Last name:</p> <input [(ngModel)]="user!.lastname">
  <p>Password:</p> <input [(ngModel)]="user!.password">
  <p>-----------------------------------------------</p>
  <p>Permissions</p>

  <div *ngFor="let pp of permissions; let i=index" class="col-md-4 checkboxes">
    <label>
      <input type="checkbox" [(ngModel)]="permissions_selected[i]" (change)="onCheckChange($event)" class="my_checkbox">
      {{permissions[i].value}}
    </label>
  </div>



</div>


<div class="buttons">
  <button class="btn" (click)="edit_user()" [disabled]="!containsPermission('CAN_UPDATE_USERS')"> Edit </button>

  <button class="btn" (click)="delete_user()" [disabled]="!containsPermission('CAN_DELETE_USERS')"> Delete </button>
</div>
