<p>error-msg works!</p>

<table mat-table [dataSource]="errors" class="mat-elevation-z8">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'id_col'"> Id </th>
    <td mat-cell *matCellDef="let err" [ngClass]="'id_col'">{{err.id}}</td>
  </ng-container>

  <ng-container matColumnDef="Massage">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'msg_col'"> Massage </th>
    <td mat-cell *matCellDef="let err" [ngClass]="'msg_col'">{{err.massage}}</td>
  </ng-container>

  <ng-container matColumnDef="Machines">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'mach_col'"> Machines </th>
    <td mat-cell *matCellDef="let err" [ngClass]="'mach_col'">{{err.machineId}}</td>
  </ng-container>

  <ng-container matColumnDef="Action name">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'act_col'"> Action name </th>
    <td mat-cell *matCellDef="let err" [ngClass]="'act_col'">{{err.actionName}}</td>
  </ng-container>

  <ng-container matColumnDef="Data Occurred">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'date_col'"> Date occurred </th>
    <td mat-cell *matCellDef="let err" [ngClass]="'date_col'">{{err.date}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row,columns:displayedColumns;"></tr>

</table>
