<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <a [routerLink]="'/home'" class="navbar-brand"> Home </a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a [routerLink]="'/show'" class="nav-link active" [class.disabled]="!containsPermission('CAN_READ_USERS')"> Show Users</a>
        </div>
        <div class="navbar-nav">
          <a [routerLink]="'/insert'" class="nav-link active" [class.disabled]="!containsPermission('CAN_CREATE_USERS')"> Insert Users</a>
        </div>
      </div>
    </div>
  </nav>
</header>


<body>
  <router-outlet></router-outlet>
</body>
