
table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  overflow-x: scroll;
}

.mat-row{
  height: auto;

}

.mat-cell{
  padding: 0.5rem 10px;
  width: 300px;
}

.mat-header-cell {
  align-content: center;
}


.mat-row:hover .mat-cell {
  border-color: black;
  border-top: #100110;
  background-color: #efefef;
}

.row-is-clicked {
  font-weight: bold;
}

.id_col{
  max-width: 100px;
}


.stat_col{
  max-width: 150px;
}

.date_col{
  max-width: 150px;
}

.buttons{
  margin: 3rem 0;
}

.btn{
  margin-left: 1rem;
  border-color: #100110;
}
