<p>show-mach works!</p>

<div class="search-buttons">
  <button class="btn btn2" (click)="openSearchDialog()" [disabled]="!containsPermission('CAN_SEARCH_MACHINE')"> Search </button>
</div>

<table mat-table [dataSource]="machines" class="mat-elevation-z8">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'id_col'"> Id </th>
    <td mat-cell *matCellDef="let m" [ngClass]="'id_col'">{{m.id}}</td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'name_col'"> Name </th>
    <td mat-cell *matCellDef="let m" [ngClass]="'name_col'">{{m.name}}</td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'stat_col'"> Status </th>
    <td mat-cell *matCellDef="let m" [ngClass]="'stat_col'">{{m.status}}</td>
  </ng-container>

  <ng-container matColumnDef="Data Created">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'date_col'"> Date created </th>
    <td mat-cell *matCellDef="let m" [ngClass]="'date_col'">{{m.date}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="selectMachine(row)" *matRowDef="let row,columns:displayedColumns;"></tr>

</table>


<div class="buttons">
  <button class="btn" (click)="makeAction('create')" [disabled]="!containsPermission('CAN_CREATE_MACHINE')"> Create </button>
  <button class="btn" (click)="makeAction('start')" [disabled]="!containsPermission('CAN_START_MACHINE')"> Start </button>
  <button class="btn" (click)="makeAction('stop')" [disabled]="!containsPermission('CAN_STOP_MACHINE')"> Stop </button>
  <button class="btn" (click)="makeAction('restart')" [disabled]="!containsPermission('CAN_RESTART_MACHINE')"> Restart </button>
  <button class="btn" (click)="makeAction('delete')" [disabled]="!containsPermission('CAN_DESTROY_MACHINE')"> Delete </button>

</div>

